
*{ 
    margin: 0px;
}

#sidebar {
	/*Strictly Necessary */
	position:fixed; 
	height: 100%;
	width:16%;
	margin-top: 100px;  

  float: left;
  /*Aesthetics*/
  background: lightblue; 
  border-radius: 7px;  
}


#rightSideWrapper {
	/*Strictly Necessary */
	width:80%; 
	float: right;
  align-content: center;
  align-items: center;
  margin-top: 10%;  
	/*Aesthetics*/
}

h2{
    margin: 20px;
}

:root{
  --background-color1: #fafaff;
  --background-color2: #ffffff;
  --background-color3: #ededed;
  --background-color4: #cad7fda4;
  --primary-color: #4b49ac;
  --secondary-color: rgb(85, 55, 255);
  --Border-color: #3f0097;
  --one-use-color: #3f0097;
  --two-use-color: #5500cb;
}

body{
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
}

header {
	/*Strictly Necessary */
	position: fixed;
	width: 100%;	
	height: 60px; /*Adjust the hight to your purposes*/
	padding: 20px;
  color: white;
	/*Aesthetics*/
  background-color: var(--secondary-color);
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  justify-content: space-between;

}

main {
    /*Strictly Necessary */
    height: 400px;
    order: 1;
    flex: 0 1 100%; 
  }
  
  table{
    background-color: white;
    border: 1px solid black;
    width: 80%;
    align-content: center;
  }

 th, td {
    background-color: white;
    border: 1px solid black;
    align-content: center;
  }


.sidebar div {
   padding: 8px;
   font-size: 24px;
   display: block;
}
    
.body-text {
  margin-left: 150px;
  font-size: 18px;
}


/* Style the buttons inside the tab */
div button {
  display: block;
  background-color: transparent;
  color: black;
  width: 100%;
  border: black;
  outline: black;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

a:link, a:visited {
  background-color: black;
  color: white;
  border: 2px solid lightblue;
  padding: 10px 20px;
  width: 80%;
  border-radius: 7px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: white;
  color: black;
}